@media only screen and (max-width: 1200px) {
  body {
    max-width: 1200px; }

  #navigation {
    width: 45%; }

  .paragraphs-item-lecturer {
    min-height: 548px;
    width: 32.3%; }
    .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
      padding-left: 0; } }
@media only screen and (max-width: 992px) {
  body {
    width: 100%; }

  #block-block-3 {
    opacity: 0;
    transition: .23s opacity ease-out;
    position: absolute;
    background: white;
    width: 200px;
    padding: 20px;
    border: 1px solid #f2f3f8;
    right: 0;
    top: 46px; }
    #block-block-3 a {
      float: right; }
    #block-block-3 .gcs-big-link {
      margin: 0; }
    #block-block-3 .icon {
      margin-right: 20px; }

  #navigation {
    position: fixed;
    height: 100%;
    width: 210px;
    margin-top: 46px;
    left: -68%;
    background-color: white;
    transition: 0.32s left cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    #navigation #main-menu {
      overflow: hidden; }
    #navigation li {
      display: block;
      margin-left: 0;
      padding: 0;
      margin-top: 4px; }
      #navigation li a {
        color: black;
        display: block;
        padding: 11px 56px 11px 16px;
        font-weight: 700;
        font-stretch: normal;
        font-size: 14px;
        line-height: 24px;
        width: 138px;
        height: 24px;
        margin-right: 0; }
      #navigation li a:hover {
        color: white;
        background-color: #78abf1; }
    #navigation .first {
      margin-top: 15px; }

  #header {
    height: 56px;
    max-width: 992px; }
    #header .gcs-header {
      max-width: 962px;
      height: 36px;
      margin: 0; }

  #logo {
    padding: 0 40px;
    margin-top: 5px; }
    #logo img {
      height: 28px;
      width: auto;
      margin: 0; }

  #main-wrapper {
    margin-top: 56px; }

  #node-4 {
    width: 100%; }

  .field-name-field-plain-title {
    font-size: 40px; }

  .field-name-field-about-text {
    width: 80%;
    margin: auto; }
    .field-name-field-about-text ul {
      padding-left: 30px;
      margin-top: 10px; }
      .field-name-field-about-text ul li {
        width: inherit;
        padding-left: 15px;
        padding-right: 15px;
        height: inherit;
        margin-top: 30px;
        float: none; }

  .hide-menu-wrapper {
    margin-top: 25px; }

  .paragraphs-item-lecturer {
    width: 45%;
    min-height: 499px;
    margin-top: 40px;
    margin-left: 30px; }
    .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
      padding-left: 15px; }
      .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items .field-item {
        margin: auto; }
    .paragraphs-item-lecturer .field-name-field-describe {
      padding: 10px 20px 0 20px; }

  .paragraphs-item-lecturers .field-name-field-plain-title {
    margin-bottom: -10px; }

  #block-block-5 {
    display: block;
    position: absolute;
    top: 7%;
    cursor: pointer;
    left: 2%; }

  #block-block-6 {
    display: block;
    position: absolute;
    top: 7%;
    right: 2.5%;
    cursor: pointer; }

  .field-name-field-form #node-3 .webform-component-textfield {
    float: none; }
    .field-name-field-form #node-3 .webform-component-textfield input[size="140"] {
      width: 89%;
      margin: 0 10px;
      margin-top: 20px; }
    .field-name-field-form #node-3 .webform-component-textfield input[size="70 px"] {
      width: 41%;
      margin: 0 10px;
      margin-top: 20px; }
  .field-name-field-form #node-3 .webform-component-email {
    float: none; }
    .field-name-field-form #node-3 .webform-component-email input {
      width: 41%;
      margin: 0 10px;
      margin-top: 20px; }
  .field-name-field-form #node-3 .webform-component-checkboxes {
    margin-left: 15px;
    width: 90%; }

  .paragraphs-item-organizers {
    padding-bottom: 40px; }
    .paragraphs-item-organizers .field-name-field-describe {
      width: 80%;
      margin: auto; }
    .paragraphs-item-organizers .paragraphs-item-lecturer .field-name-field-describe {
      width: inherit; }

  #block-block-4 {
    width: inherit;
    margin-left: 20px;
    margin-right: 20px; }

  #footer .gcs-footer-left {
    float: none;
    width: 100%; }
  #footer .gcs-footer-right {
    float: none;
    width: 100%;
    margin-top: -50px; }
    #footer .gcs-footer-right #block-block-1 {
      margin-left: 20px; }
      #footer .gcs-footer-right #block-block-1 h2 {
        font-size: 30px;
        padding-top: 50px; }
  #footer #block-block-1 #gcs-block-contacts {
    width: inherit; } }
@media only screen and (max-width: 768px) {
  .paragraphs-item-lecturer {
    width: 90%; }

  .field-name-field-about-text {
    width: 70%; }

  .hide-menu-wrapper {
    margin-left: 5px; }

  .field-name-field-links .field-items {
    width: 450px; }

  #node-3 {
    width: 70%;
    margin: auto;
    min-width: 458px; }

  .field-name-field-registration-message {
    margin-left: 20%; }

  .field-name-field-form #node-3 .webform-component-textfield input[size="140"] {
    width: 82%; }
  .field-name-field-form #node-3 .webform-component-textfield input[size="70 px"] {
    width: 80%; }
  .field-name-field-form #node-3 .webform-component-email input {
    width: 80%; }
  .field-name-field-form #node-3 .webform-component-checkboxes {
    width: 80%; }
  .field-name-field-form #node-3 .form-actions {
    width: 200px;
    margin: auto; } }
@media only screen and (max-width: 480px) {
  #node-3 {
    min-width: 430px; }

  .field-name-field-links .field-items {
    width: 335px; }

  .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
    padding-left: 5px; } }

/*# sourceMappingURL=mobile.css.map */
