@media only screen and (max-width : 1200px) {
  body {
    max-width: 1200px;
  }
  #navigation {
    width: 45%;
  }
  .paragraphs-item-lecturer {
    min-height: 548px;
    width: 32.3%;
    .field-name-field-lecturer-photo {
      .field-items {
        padding-left: 0;
      }
    }
  }
}
@media only screen and (max-width : 992px) {
  body {
    width: 100%;
  }
  #block-block-3 {
    opacity: 0;
    display: none;
    transition: .23s opacity ease-out;
    position: absolute;
    background: white;
    width: 200px;
    padding: 20px;
    border: 1px solid $gcs-white;
    right: 0;
    top: 46px;
    a {
      float: right;
    }
    .gcs-big-link {
      margin: 0;
    }
    .icon {
      margin-right: 20px;
    }
  }
  #navigation {
    position: fixed;
    height: 100%;
    width: 210px;
    margin-top: 46px;
    left: -68%;
    background-color: white;
    transition: 0.32s left cubic-bezier(0.785, 0.135, 0.15, 0.86);
    #main-menu {
      overflow: hidden;
    }
    li {
      display: block;
      margin-left: 0;
      padding: 0;
      margin-top: 4px;
      a {
        color: black;
        display: block;
        padding: 11px 56px 11px 16px;
        font-weight: 700;
        font-stretch: normal;
        font-size: 14px;
        line-height: 24px;
        width: 138px;
        height: 24px;
        margin-right: 0;
      }
      a:hover {
        color: white;
        background-color: $gcs-blue;
      }
    }
    .first {
      margin-top: 15px;
    }
  }
  #header {
    height: 56px;
    max-width: 992px;
    .gcs-header {
      max-width: 962px;
      height: 36px;
      margin: 0;
    }
  }
  #logo {
    padding: 0;
    margin-top: 5px;
    margin-left: 2.5%;
    img {
      height: 28px;
      width: auto;
      margin: 0;
    }
  }
  #main-wrapper {
    margin-top: 56px;
  }
  #node-4 {
    width: 100%;
  }
  .paragraphs-item-banner {
    .content {

    }
  }
  .field-name-field-plain-title {
    font-size: 40px;
  }
  .field-name-field-about-text {
    width: 80%;
    margin: auto;
    ul {
      padding-left: 30px;
      margin-top: 10px;
      li {
        width: inherit;
        padding-left: 15px;
        padding-right: 15px;
        height: inherit;
        margin-top: 30px;
        float: none;
      }
    }
  }
  .hide-menu-wrapper {
    margin-top: 25px;
  }
  .paragraphs-item-lecturer {
    width: 45%;
    min-height: 499px;
    margin-top: 40px;
    margin-left: 30px;
    .field-name-field-lecturer-photo {
      .field-items {
        padding-left: 15px;
        .field-item {
          margin: auto;
        }
      }
    }
    .field-name-field-describe {
      padding: 10px 20px 0 20px;
    }
  }
  .paragraphs-item-lecturers {
    .field-name-field-plain-title {
      margin-bottom: -10px;
    }
  }
  #block-block-5 {
    display: block;
    position: absolute;
    top: 7%;
    cursor: pointer;
    left: 2%;
    transform: rotate(0deg);
    transition: .3s all ease;
  }
  #block-block-6 {
    display: block;
    position: absolute;
    top: 7%;
    right: 2.5%;
    cursor: pointer;
  }
  .field-name-field-form {
    #node-3 {
      .webform-component-textfield {
        float: none;
        input[size="140"] {
          width: 89%;
          margin: 0 10px;
          margin-top: 20px;
        }
        input[size="70 px"] {
          width: 41%;
          margin: 0 10px;
          margin-top: 20px;
        }
      }
      .webform-component-email {
        float: none;
        input {
          width: 41%;
          margin: 0 10px;
          margin-top: 20px;
        }
      }
      .webform-component-checkboxes {
        margin-left: 15px;
        width: 90%;
      }
    }
  }
  .paragraphs-item-organizers {
    padding-bottom: 40px;
    .field-name-field-describe {
      width: 80%;
      margin: auto;
    }
    .paragraphs-item-lecturer {
      .field-name-field-describe {
        width: inherit;
      }
    }
  }
  #block-block-4 {
    width: inherit;
    margin-left: 20px;
    margin-right: 20px;
  }
  #footer {
    .gcs-footer-left {
      float: none;
      width: 100%;
    }
    .gcs-footer-right {
      float: none;
      width: 100%;
      margin-top: -50px;
      #block-block-1 {
        margin-left: 20px;
        h2 {
          font-size: 30px;
          padding-top: 50px;
        }
      }
    }
    #block-block-1 {
      #gcs-block-contacts {
        width: inherit;
      }
    }
  }

}
@media only screen and (max-width : 768px) {
  .paragraphs-item-lecturer {
    width: 90%;
    .field-name-field-lecturer-photo {
      .field-items {
        padding-left: 0;
      }
    }
  }
  .field-name-field-about-text {
    width: 70%;
  }
  .hide-menu-wrapper {
    margin-left: 5px;
  }
  .field-name-field-links {
    .field-items {
      width: 450px;
    }
  }
  .gcs-title {
    font-size: 40px;
  }
  #node-3 {
    width: 70%;
    margin: auto;
    min-width: 458px;
  }
  .field-name-field-registration-message {
    margin-left: 20%;
  }
  .field-name-field-form {
    #node-3 {
      .webform-component-textfield {
        input[size="140"] {
          width: 82%;
        }
        input[size="70 px"] {
          width: 80%;
        }
      }
      .webform-component-email {
        input {
          width: 80%;
        }
      }
      .webform-component-checkboxes {
        width: 80%;
      }
      .form-actions {
        width: 200px;
        margin: auto;
      }
    }
  }
}
@media only screen and (max-width : 480px) {
  #node-3 {
    min-width: 305px;
  }
  .field-name-field-links {
    .field-items {
      width: 220px;
    }
  }
  .hide-menu-wrapper {
    margin-left: 24%;
  }
  .paragraphs-item-lecturer {
    width: 100%;
    margin-left: 0;
    .field-name-field-lecturer-photo {
      .field-items {
        padding-left: 5px;
      }
    }
  }
  .paragraphs-item-registration {
    .content {
      padding-left: 0;
    }
  }
  .footer-contact-left {
    margin-right: 55px;
  }
}
@media only screen and (max-width : 320px) {
  .gcs-title {
    font-size: 30px;
  }
  .hide-menu-wrapper {
    margin-left: 12%;
  }
}