@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
  margin: 0;
  font-size: 14px;
  line-height: 1.71429;
  color: $gcs-grey3;
  background-color: #fff;
}
#backtotop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  font-weight: 500;
  line-height: 35px;
  right: 40px;
  bottom: 40px;
  transition: 0.33s all ease-in;
}
#backtotop:before {
  font-family: 'FontAwesome';
  content: "\f106";
}
a {
  text-decoration: none;
  transition: 0.33s all ease-in;
}
p {
  margin: 0;
}
input:focus {
  outline: none;
}
#header {
  width: 100%;
  height: 80px;
  position: fixed;
  background: $real-white;
  top: 0;
  border-bottom: 1px solid $gcs-white;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 99999;
}
#main-wrapper {
  margin-top: 80px;
}
#footer {
  width: 100%;
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
}
.gcs-header {
  margin: auto;
  padding: 10px 15px;
  height: 60px;
}
.gcs-footer-left {
  float: left;
  width: 38.1%;
}
.gcs-footer-right {
  float: left;
  width: 61.9%;
  background-color: $gcs-black3;
  height: 315px;
}
#navigation {
  width: 42%;
  float: left;
  margin-top: 19px;
}
#main-menu {
  li {
    margin-left: 18px;
    a {
      font-weight: 900;
      letter-spacing: .05em;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
      color: $gcs-black;
    }
    a:active {
      color: $gcs-blue;
    }
    a:hover {
      color: $gcs-blue;
    }
  }
  li.first {
    margin-left: 0;
  }
}
#logo  {
  width: 133px;
  float: left;
  padding: 0 33px;
  margin-top: 7px;
  img {
    margin: auto;
  }
}
#block-block-3 {
  float: right;
  width: 230px;
  margin-top: 10px;

}
.gcs-header-links {
  a {
    float: right;
    height: 28px;
    img {
      width: 16px;
      height: 28px;
      margin-top: 7px;
    }
  }
  .gcs-big-link {
    margin-left: 30px;
  }
  .icon {
    font-size: 28px;
    color: $gcs-blue;
    margin-top:8px;
  }
}
.gcs-big-link {
  width: 104px;
  height: 28px;
  padding: 6px 28px;
  font-weight: 700;
  background-color: $gcs-blue;
  color: $real-white;
  line-height: 2.4;
  letter-spacing: .2em;
  font-size: 12px;
}
.gcs-big-link:hover {
  background-color: $gcs-green;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition: 0.22s all ease-in;
}
.hide-menu-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}
#hide-menu {
  position: absolute;
  width: 236px;
  list-style-type: none;
  padding: 0;
  border: 1px solid $gcs-blue;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: $real-white;
  margin-top: 40px;
  a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 5px 15px;
    transition: none;
    color: #78abf1;
    font-size: 13px;
    letter-spacing: .2em;
    line-height: 2;
    font-weight: 900;
  }
}
#hide-menu-title {
  float: left;
  height: 28px;
  padding: 13px 46px;
  font-weight: 700;
  background-color: $gcs-blue;
  color: $real-white;
  line-height: 2.4;
  letter-spacing: .2em;
  font-size: 12px;
  margin-top: -10px;
  cursor: pointer;
}
#hide-menu-title:hover {
  @extend .gcs-big-link:hover;
}
.paragraphs-item-banner {
  width: 100%;
  background-image: url(../images/landing_page-3.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  .content {
    max-width: 1200px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 557px;
  }
}
.gcs-banner-hr {
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-top: 3px solid $gcs-green;
  height: 0;
  margin-bottom: 0;
}
.gcs-title {
  color: $real-white;
  font-size: 66px;
  margin: 0;
  line-height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.paragraphs-item-about {
  width: 100%;
  padding: 36px 0 60px 0;
  background-color: $gcs-grey;
  .content {
    max-width: 1170px;
    margin: auto;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    p {
      margin-top: 24px;
      color: $gcs-black;
    }
    .field-name-field-link {
      text-align: center;
      margin-top: 55px;
      a {
        width: 104px;
        height: 28px;
        font-weight: 700;
        background-color: $gcs-blue;
        color: $real-white;
        line-height: 2.4;
        letter-spacing: .2em;
        font-size: 12px;
        padding: 19px 43px;
      }
      a:hover {
        @extend .gcs-big-link:hover;
      }
    }
  }
}
.paragraphs-item-for-who {
  width: 100%;
  padding: 50px 0 60px 0;
  background-color: $real-white;
  .content {
    max-width: 1200px;
    margin: auto;
  }
}
.field-name-field-plain-title {
  font-size: 48px;
  color: $real-black;
  text-align: center;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 900;
}
.field-name-field-about-text {
  min-height: 180px;
  ul {
    list-style-type: none;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $gcs-black;
    float: left;
    padding: 0;
    padding-left: 30px;
    margin: 0;
    margin-top: 35px;
    li {
      float: left;
      width: 21%;
      padding-left: 15px;
      padding-right: 15px;
      height: 180px;
    }
  }
}
.field-name-field-links {
  min-height: 60px;
  .field-items {
    margin: auto;
    width: 500px;
    min-height: 60px;
  }
  a {
    float: left;
    height: 28px;
    padding: 13px 46px;
    font-weight: 700;
    background-color: $gcs-blue;
    color: $real-white;
    line-height: 2.4;
    letter-spacing: .2em;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 15px;
  }
  a:hover {
    @extend .gcs-big-link:hover;
  }
}
.paragraphs-item-lecturers {
  background-color: $gcs-grey;
  display: inline-block;
  margin-top: 40px;
  width: 100%;
  .content {
    max-width: 1200px;
    margin: auto;
  }
  .field-name-field-plain-title {
    padding-top: 40px;
    margin-bottom: -40px;
  }
}
.paragraphs-item-lecturer {
  float: left;
  width: 33.3%;
  min-height: 478px;
  display: inline-block;
  text-align: center;
  margin-top: 70px;
  .field-name-field-lecturer-photo {
    img {
      border-radius: 50%;
      z-index: 99;
      border: 1px solid $gcs-green;
      padding: 10px;
    }
    .field-item {
      border-radius: 50%;
      width: 300px;
      height: 285px;
      text-align: center;
      margin-left: 10px;
      z-index: 100;
      background: $real-white;
      padding-top: 13px;
    }
    .field-items {
      padding-left: 37px;
    }
  }
  .field-name-field-plain-title {
    font-size: 24px;
    letter-spacing: .075em;
    margin-bottom: 0;
    padding-top: 0;
  }
  .field-name-field-describe {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 40px 0 40px;
  }
}
.paragraphs-item-organizers {
  width: 100%;
  background-color: $gcs-grey;
  display: inline-block;
  min-height: 711px;
  padding-top: 40px;
  .content {
    max-width: 1200px;
    margin: auto;
  }
  .field-name-field-describe {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $gcs-black;
    text-align: center;
    margin-bottom: -20px;
  }
  .paragraphs-item-lecturer {
    .field-name-field-describe {
      color: $gcs-grey3;
    }
  }
}
.paragraphs-item-registration {
  width: 100%;
  padding: 90px 0 60px 0;
  font-weight: 900;
  .content {
    max-width: 1200px;
    margin: auto;
    padding-left: 10px;
    .field-name-field-plain-title {
      font-size: 36px;
      margin-bottom: 20px;
    }
    .field-name-field-registration-message {
      margin-left: 17px;
      margin-bottom: -15px;
      letter-spacing: 0.1em;
      p:before {
        content: "* ";
        color: red;
      }
    }
  }
}
.field-name-field-form {
  #node-3 {
    .webform-component-textfield {
      margin: 0;
      input[size="70 px"] {
        float: left;
        width: 43.9%;
        height: 20px;
        border: none;
        background-color: $gcs-grey2;
        padding: 15px 19px;
        font-size: 14px;
        margin: 0 10px;
        color: $gcs-grey3;
        margin-top: 20px;
      }
      input[size="140"] {
        float: left;
        max-width: 93.5%;
        border: none;
        background-color: $gcs-grey2;
        padding: 17px 15px;
        font-size: 14px;
        color: $gcs-grey3;
        margin: 0 10px;
        margin-top: 20px;
      }
    }
    .webform-component-email {
      margin: 0;
      input {
        float: left;
        width: 43.9%;
        height: 20px;
        border: none;
        background-color: $gcs-grey2;
        padding: 15px 19px;
        font-size: 14px;
        color: $gcs-grey3;
        margin: 0 10px;
        margin-top: 20px;
      }
    }
    .webform-component-checkboxes {
      float: left;
      margin-left: 5px;
      width: 90%;
      label {
        font-weight: 900;
      }
    }
    .form-actions {
      text-align: center;
    }
    .webform-submit {
      width: 180px;
      height: 48px;
      padding: 6px 28px;
      border: none;
      font-weight: 700;
      background-color: $gcs-blue;
      color: $real-white;
      line-height: 2.4;
      letter-spacing: .2em;
      font-size: 12px;
    }
    .webform-submit:hover {
      @extend .gcs-big-link:hover;
    }
    input::placeholder {
      color: $gcs-grey3;
      opacity: 1; transition: opacity 0.3s ease;
    }
    input:focus::placeholder {
      color: transparent;
      opacity: 0; transition: opacity 0.3s ease;
    }
  }
}
.gcs-map-footer {
  height: 315px;
}
#block-block-1 {
  margin-left: 65px;
  h2 {
    color: $real-white;
    font-size: 36px;
  }
  .gcs-footer-contact {
    width: 85%;
    height: 100px;
    p {
      float: left;
    }
  }
}
.footer-contact-left {
  clear: left;
  color: $gcs-grey4;
  font-weight: 700;
  margin-right: 100px;
  margin-bottom: 20px;
}
.footer-contact-right {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $real-white;
  font-size: 14px;
  a {
    color: $real-white;
  }
}
#block-block-4 {
  width: 85%;
  margin-left: 65px;
  color: $gcs-grey4;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 74px;
}
.footer-title-block {
  height: 34px;
  padding-top: 25px;
  border-top: 1px solid $gcs-black4;
  margin-top: 20px;
  a {
    color: $gcs-grey4;
    text-decoration: underline;
  }
}
#block-block-5 {
  display: none;
  color: $real-black;
  font-size: 28px;
}
#block-block-6 {
  display: none;
  color: $real-black;
  font-size: 28px;
}
#page-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  float: left;
  align-items: center;
  text-align: center;
  padding: 10px;
  z-index: 9999999;
  background: #fff;
  transition: .3s all ease;
  width: 100%;
  opacity: 1;
  height: 100%;
  .page-loader-img {
    margin-top: 25%;
  }
}
#page-loader > * {
  width: 300px;
  margin: auto;
}
.page-loader-body {
  text-align: center;
}
.loaded {
  opacity: 0 !important;
  visibility: hidden;
  z-index: -1;
}