$gcs-black: #483D41;
$gcs-blue: #78abf1;
$gcs-green: #5acea4;
$gcs-white: #f2f3f8;
$gcs-grey: #EFF0F5;
$gcs-grey2: #F4F4F4;
$gcs-grey3: #9b9b9b;
$gcs-grey4: #7C828A;
$gcs-black2: #64696F;
$gcs-black3: #363D41;
$gcs-black4: #434D52;
$real-black: black;
$real-white: white;