@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
  margin: 0;
  font-size: 14px;
  line-height: 1.71429;
  color: #9b9b9b;
  background-color: #fff; }

#backtotop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  font-weight: 500;
  line-height: 35px;
  right: 40px;
  bottom: 40px;
  transition: 0.33s all ease-in; }

#backtotop:before {
  font-family: 'FontAwesome';
  content: "\f106"; }

a {
  text-decoration: none;
  transition: 0.33s all ease-in; }

p {
  margin: 0; }

input:focus {
  outline: none; }

#header {
  width: 100%;
  height: 80px;
  position: fixed;
  background: white;
  top: 0;
  border-bottom: 1px solid #f2f3f8;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 99999; }

#main-wrapper {
  margin-top: 80px; }

#footer {
  width: 100%;
  height: 315px;
  margin-top: 0;
  margin-bottom: 0; }

.gcs-header {
  margin: auto;
  padding: 10px 15px;
  height: 60px; }

.gcs-footer-left {
  float: left;
  width: 38.1%; }

.gcs-footer-right {
  float: left;
  width: 61.9%;
  background-color: #363D41;
  height: 315px; }

#navigation {
  width: 42%;
  float: left;
  margin-top: 19px; }

#main-menu li {
  margin-left: 18px; }
  #main-menu li a {
    font-weight: 900;
    letter-spacing: .05em;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #483D41; }
  #main-menu li a:active {
    color: #78abf1; }
  #main-menu li a:hover {
    color: #78abf1; }
#main-menu li.first {
  margin-left: 0; }

#logo {
  width: 133px;
  float: left;
  padding: 0 33px;
  margin-top: 7px; }
  #logo img {
    margin: auto; }

#block-block-3 {
  float: right;
  width: 230px;
  margin-top: 10px; }

.gcs-header-links a {
  float: right;
  height: 28px; }
  .gcs-header-links a img {
    width: 16px;
    height: 28px;
    margin-top: 7px; }
.gcs-header-links .gcs-big-link {
  margin-left: 30px; }
.gcs-header-links .icon {
  font-size: 28px;
  color: #78abf1;
  margin-top: 8px; }

.gcs-big-link {
  width: 104px;
  height: 28px;
  padding: 6px 28px;
  font-weight: 700;
  background-color: #78abf1;
  color: white;
  line-height: 2.4;
  letter-spacing: .2em;
  font-size: 12px; }

.gcs-big-link:hover, #hide-menu-title:hover, .paragraphs-item-about .content .field-name-field-link a:hover, .field-name-field-links a:hover, .field-name-field-form #node-3 .webform-submit:hover {
  background-color: #5acea4;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition: 0.22s all ease-in; }

.hide-menu-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 30px; }

#hide-menu {
  position: absolute;
  width: 236px;
  list-style-type: none;
  padding: 0;
  border: 1px solid #78abf1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: 40px; }
  #hide-menu a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 5px 15px;
    transition: none;
    color: #78abf1;
    font-size: 13px;
    letter-spacing: .2em;
    line-height: 2;
    font-weight: 900; }

#hide-menu-title {
  float: left;
  height: 28px;
  padding: 13px 46px;
  font-weight: 700;
  background-color: #78abf1;
  color: white;
  line-height: 2.4;
  letter-spacing: .2em;
  font-size: 12px;
  margin-top: -10px;
  cursor: pointer; }

.paragraphs-item-banner {
  width: 100%;
  background-image: url(../images/landing_page-3.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh; }
  .paragraphs-item-banner .content {
    max-width: 1200px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 557px; }

.gcs-banner-hr {
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-top: 3px solid #5acea4;
  height: 0;
  margin-bottom: 0; }

.gcs-title {
  color: white;
  font-size: 66px;
  margin: 0;
  line-height: 70px;
  margin-top: 10px;
  margin-bottom: 20px; }

.paragraphs-item-about {
  width: 100%;
  padding: 36px 0 60px 0;
  background-color: #EFF0F5; }
  .paragraphs-item-about .content {
    max-width: 1170px;
    margin: auto;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
    .paragraphs-item-about .content p {
      margin-top: 24px;
      color: #483D41; }
    .paragraphs-item-about .content .field-name-field-link {
      text-align: center;
      margin-top: 55px; }
      .paragraphs-item-about .content .field-name-field-link a {
        width: 104px;
        height: 28px;
        font-weight: 700;
        background-color: #78abf1;
        color: white;
        line-height: 2.4;
        letter-spacing: .2em;
        font-size: 12px;
        padding: 19px 43px; }

.paragraphs-item-for-who {
  width: 100%;
  padding: 50px 0 60px 0;
  background-color: white; }
  .paragraphs-item-for-who .content {
    max-width: 1200px;
    margin: auto; }

.field-name-field-plain-title {
  font-size: 48px;
  color: black;
  text-align: center;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 900; }

.field-name-field-about-text {
  min-height: 180px; }
  .field-name-field-about-text ul {
    list-style-type: none;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #483D41;
    float: left;
    padding: 0;
    padding-left: 30px;
    margin: 0;
    margin-top: 35px; }
    .field-name-field-about-text ul li {
      float: left;
      width: 21%;
      padding-left: 15px;
      padding-right: 15px;
      height: 180px; }

.field-name-field-links {
  min-height: 60px; }
  .field-name-field-links .field-items {
    margin: auto;
    width: 500px;
    min-height: 60px; }
  .field-name-field-links a {
    float: left;
    height: 28px;
    padding: 13px 46px;
    font-weight: 700;
    background-color: #78abf1;
    color: white;
    line-height: 2.4;
    letter-spacing: .2em;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 15px; }

.paragraphs-item-lecturers {
  background-color: #EFF0F5;
  display: inline-block;
  margin-top: 40px;
  width: 100%; }
  .paragraphs-item-lecturers .content {
    max-width: 1200px;
    margin: auto; }
  .paragraphs-item-lecturers .field-name-field-plain-title {
    padding-top: 40px;
    margin-bottom: -40px; }

.paragraphs-item-lecturer {
  float: left;
  width: 33.3%;
  min-height: 478px;
  display: inline-block;
  text-align: center;
  margin-top: 70px; }
  .paragraphs-item-lecturer .field-name-field-lecturer-photo img {
    border-radius: 50%;
    z-index: 99;
    border: 1px solid #5acea4;
    padding: 10px; }
  .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-item {
    border-radius: 50%;
    width: 300px;
    height: 285px;
    text-align: center;
    margin-left: 10px;
    z-index: 100;
    background: white;
    padding-top: 13px; }
  .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
    padding-left: 37px; }
  .paragraphs-item-lecturer .field-name-field-plain-title {
    font-size: 24px;
    letter-spacing: .075em;
    margin-bottom: 0;
    padding-top: 0; }
  .paragraphs-item-lecturer .field-name-field-describe {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 40px 0 40px; }

.paragraphs-item-organizers {
  width: 100%;
  background-color: #EFF0F5;
  display: inline-block;
  min-height: 711px;
  padding-top: 40px; }
  .paragraphs-item-organizers .content {
    max-width: 1200px;
    margin: auto; }
  .paragraphs-item-organizers .field-name-field-describe {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #483D41;
    text-align: center;
    margin-bottom: -20px; }
  .paragraphs-item-organizers .paragraphs-item-lecturer .field-name-field-describe {
    color: #9b9b9b; }

.paragraphs-item-registration {
  width: 100%;
  padding: 90px 0 60px 0;
  font-weight: 900; }
  .paragraphs-item-registration .content {
    max-width: 1200px;
    margin: auto;
    padding-left: 10px; }
    .paragraphs-item-registration .content .field-name-field-plain-title {
      font-size: 36px;
      margin-bottom: 20px; }
    .paragraphs-item-registration .content .field-name-field-registration-message {
      margin-left: 17px;
      margin-bottom: -15px;
      letter-spacing: 0.1em; }
      .paragraphs-item-registration .content .field-name-field-registration-message p:before {
        content: "* ";
        color: red; }

.field-name-field-form #node-3 .webform-component-textfield {
  margin: 0; }
  .field-name-field-form #node-3 .webform-component-textfield input[size="70 px"] {
    float: left;
    width: 43.9%;
    height: 20px;
    border: none;
    background-color: #F4F4F4;
    padding: 15px 19px;
    font-size: 14px;
    margin: 0 10px;
    color: #9b9b9b;
    margin-top: 20px; }
  .field-name-field-form #node-3 .webform-component-textfield input[size="140"] {
    float: left;
    max-width: 93.5%;
    border: none;
    background-color: #F4F4F4;
    padding: 17px 15px;
    font-size: 14px;
    color: #9b9b9b;
    margin: 0 10px;
    margin-top: 20px; }
.field-name-field-form #node-3 .webform-component-email {
  margin: 0; }
  .field-name-field-form #node-3 .webform-component-email input {
    float: left;
    width: 43.9%;
    height: 20px;
    border: none;
    background-color: #F4F4F4;
    padding: 15px 19px;
    font-size: 14px;
    color: #9b9b9b;
    margin: 0 10px;
    margin-top: 20px; }
.field-name-field-form #node-3 .webform-component-checkboxes {
  float: left;
  margin-left: 5px;
  width: 90%; }
  .field-name-field-form #node-3 .webform-component-checkboxes label {
    font-weight: 900; }
.field-name-field-form #node-3 .form-actions {
  text-align: center; }
.field-name-field-form #node-3 .webform-submit {
  width: 180px;
  height: 48px;
  padding: 6px 28px;
  border: none;
  font-weight: 700;
  background-color: #78abf1;
  color: white;
  line-height: 2.4;
  letter-spacing: .2em;
  font-size: 12px; }
.field-name-field-form #node-3 input::placeholder {
  color: #9b9b9b;
  opacity: 1;
  transition: opacity 0.3s ease; }
.field-name-field-form #node-3 input:focus::placeholder {
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease; }

.gcs-map-footer {
  height: 315px; }

#block-block-1 {
  margin-left: 65px; }
  #block-block-1 h2 {
    color: white;
    font-size: 36px; }
  #block-block-1 .gcs-footer-contact {
    width: 85%;
    height: 100px; }
    #block-block-1 .gcs-footer-contact p {
      float: left; }

.footer-contact-left {
  clear: left;
  color: #7C828A;
  font-weight: 700;
  margin-right: 100px;
  margin-bottom: 20px; }

.footer-contact-right {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: white;
  font-size: 14px; }
  .footer-contact-right a {
    color: white; }

#block-block-4 {
  width: 85%;
  margin-left: 65px;
  color: #7C828A;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 74px; }

.footer-title-block {
  height: 34px;
  padding-top: 25px;
  border-top: 1px solid #434D52;
  margin-top: 20px; }
  .footer-title-block a {
    color: #7C828A;
    text-decoration: underline; }

#block-block-5 {
  display: none;
  color: black;
  font-size: 28px; }

#block-block-6 {
  display: none;
  color: black;
  font-size: 28px; }

#page-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  float: left;
  align-items: center;
  text-align: center;
  padding: 10px;
  z-index: 9999999;
  background: #fff;
  transition: .3s all ease;
  width: 100%;
  opacity: 1;
  height: 100%; }
  #page-loader .page-loader-img {
    margin-top: 25%; }

#page-loader > * {
  width: 300px;
  margin: auto; }

.page-loader-body {
  text-align: center; }

.loaded {
  opacity: 0 !important;
  visibility: hidden;
  z-index: -1; }

@media only screen and (max-width: 1200px) {
  body {
    max-width: 1200px; }

  #navigation {
    width: 45%; }

  .paragraphs-item-lecturer {
    min-height: 548px;
    width: 32.3%; }
    .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
      padding-left: 0; } }
@media only screen and (max-width: 992px) {
  body {
    width: 100%; }

  #block-block-3 {
    opacity: 0;
    display: none;
    transition: .23s opacity ease-out;
    position: absolute;
    background: white;
    width: 200px;
    padding: 20px;
    border: 1px solid #f2f3f8;
    right: 0;
    top: 46px; }
    #block-block-3 a {
      float: right; }
    #block-block-3 .gcs-big-link {
      margin: 0; }
    #block-block-3 .icon {
      margin-right: 20px; }

  #navigation {
    position: fixed;
    height: 100%;
    width: 210px;
    margin-top: 46px;
    left: -68%;
    background-color: white;
    transition: 0.32s left cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    #navigation #main-menu {
      overflow: hidden; }
    #navigation li {
      display: block;
      margin-left: 0;
      padding: 0;
      margin-top: 4px; }
      #navigation li a {
        color: black;
        display: block;
        padding: 11px 56px 11px 16px;
        font-weight: 700;
        font-stretch: normal;
        font-size: 14px;
        line-height: 24px;
        width: 138px;
        height: 24px;
        margin-right: 0; }
      #navigation li a:hover {
        color: white;
        background-color: #78abf1; }
    #navigation .first {
      margin-top: 15px; }

  #header {
    height: 56px;
    max-width: 992px; }
    #header .gcs-header {
      max-width: 962px;
      height: 36px;
      margin: 0; }

  #logo {
    padding: 0;
    margin-top: 5px;
    margin-left: 2.5%; }
    #logo img {
      height: 28px;
      width: auto;
      margin: 0; }

  #main-wrapper {
    margin-top: 56px; }

  #node-4 {
    width: 100%; }

  .field-name-field-plain-title {
    font-size: 40px; }

  .field-name-field-about-text {
    width: 80%;
    margin: auto; }
    .field-name-field-about-text ul {
      padding-left: 30px;
      margin-top: 10px; }
      .field-name-field-about-text ul li {
        width: inherit;
        padding-left: 15px;
        padding-right: 15px;
        height: inherit;
        margin-top: 30px;
        float: none; }

  .hide-menu-wrapper {
    margin-top: 25px; }

  .paragraphs-item-lecturer {
    width: 45%;
    min-height: 499px;
    margin-top: 40px;
    margin-left: 30px; }
    .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
      padding-left: 15px; }
      .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items .field-item {
        margin: auto; }
    .paragraphs-item-lecturer .field-name-field-describe {
      padding: 10px 20px 0 20px; }

  .paragraphs-item-lecturers .field-name-field-plain-title {
    margin-bottom: -10px; }

  #block-block-5 {
    display: block;
    position: absolute;
    top: 7%;
    cursor: pointer;
    left: 2%;
    transform: rotate(0deg);
    transition: .3s all ease; }

  #block-block-6 {
    display: block;
    position: absolute;
    top: 7%;
    right: 2.5%;
    cursor: pointer; }

  .field-name-field-form #node-3 .webform-component-textfield {
    float: none; }
    .field-name-field-form #node-3 .webform-component-textfield input[size="140"] {
      width: 89%;
      margin: 0 10px;
      margin-top: 20px; }
    .field-name-field-form #node-3 .webform-component-textfield input[size="70 px"] {
      width: 41%;
      margin: 0 10px;
      margin-top: 20px; }
  .field-name-field-form #node-3 .webform-component-email {
    float: none; }
    .field-name-field-form #node-3 .webform-component-email input {
      width: 41%;
      margin: 0 10px;
      margin-top: 20px; }
  .field-name-field-form #node-3 .webform-component-checkboxes {
    margin-left: 15px;
    width: 90%; }

  .paragraphs-item-organizers {
    padding-bottom: 40px; }
    .paragraphs-item-organizers .field-name-field-describe {
      width: 80%;
      margin: auto; }
    .paragraphs-item-organizers .paragraphs-item-lecturer .field-name-field-describe {
      width: inherit; }

  #block-block-4 {
    width: inherit;
    margin-left: 20px;
    margin-right: 20px; }

  #footer .gcs-footer-left {
    float: none;
    width: 100%; }
  #footer .gcs-footer-right {
    float: none;
    width: 100%;
    margin-top: -50px; }
    #footer .gcs-footer-right #block-block-1 {
      margin-left: 20px; }
      #footer .gcs-footer-right #block-block-1 h2 {
        font-size: 30px;
        padding-top: 50px; }
  #footer #block-block-1 #gcs-block-contacts {
    width: inherit; } }
@media only screen and (max-width: 768px) {
  .paragraphs-item-lecturer {
    width: 90%; }
    .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
      padding-left: 0; }

  .field-name-field-about-text {
    width: 70%; }

  .hide-menu-wrapper {
    margin-left: 5px; }

  .field-name-field-links .field-items {
    width: 450px; }

  .gcs-title {
    font-size: 40px; }

  #node-3 {
    width: 70%;
    margin: auto;
    min-width: 458px; }

  .field-name-field-registration-message {
    margin-left: 20%; }

  .field-name-field-form #node-3 .webform-component-textfield input[size="140"] {
    width: 82%; }
  .field-name-field-form #node-3 .webform-component-textfield input[size="70 px"] {
    width: 80%; }
  .field-name-field-form #node-3 .webform-component-email input {
    width: 80%; }
  .field-name-field-form #node-3 .webform-component-checkboxes {
    width: 80%; }
  .field-name-field-form #node-3 .form-actions {
    width: 200px;
    margin: auto; } }
@media only screen and (max-width: 480px) {
  #node-3 {
    min-width: 305px; }

  .field-name-field-links .field-items {
    width: 220px; }

  .hide-menu-wrapper {
    margin-left: 24%; }

  .paragraphs-item-lecturer {
    width: 100%;
    margin-left: 0; }
    .paragraphs-item-lecturer .field-name-field-lecturer-photo .field-items {
      padding-left: 5px; }

  .paragraphs-item-registration .content {
    padding-left: 0; }

  .footer-contact-left {
    margin-right: 55px; } }
@media only screen and (max-width: 320px) {
  .gcs-title {
    font-size: 30px; }

  .hide-menu-wrapper {
    margin-left: 12%; } }

/*# sourceMappingURL=main.css.map */
